@{
    ViewData["Title"] = "All candidates";
}

@model ICollection<JobCandidateViewModel>

<h2 class="mt-4 row">
    <b>
        All jobs candidates
    </b>
</h2>
<hr class="row" />
<div class="mt-4">
    <partial name="_TempDataPartial" />
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        All jobs candidates
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Job title</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>CV URL</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Job title</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>CV URL</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var candidate in this.Model)
                    {
                        <tr>
                            <td>
                                <a target="_blank" asp-area="" asp-controller="Career" asp-action="JobPosition" asp-route-id="@candidate.JobPositionId">
                                    @candidate.JobTitle
                                </a>
                            </td>
                            <td>@candidate.FirstName @candidate.LastName</td>
                            <td>@candidate.Email</td>
                            <td>@candidate.Phonenumber</td>
                            <td><a href="@candidate.CvUrl" target="_blank">CV Link</a></td>
                            <td>
                                <a asp-area="Administration" asp-controller="AllJobsCandidates" asp-action="DeleteCandidate" asp-route-id="@candidate.JobCandidateId">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}