@{
    ViewData["Title"] = "Dashboard";
}

@model DashboardBaseModel

<h1 class="mt-4">Dashboard</h1>
<hr />
<partial name="_TempDataPartial" />
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">@this.Model.DashboardViewModel.AllAdminsCount administrators</div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">@this.Model.DashboardViewModel.AllUsersCount registered users</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#dataTable">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">@this.Model.DashboardViewModel.AllJobPositions open job positions</div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">@this.Model.DashboardViewModel.AllJobCandidates jobs candidates</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="Administration" asp-controller="AllJobsCandidates" asp-action="Index">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
<hr />
<h4>Add administrator</h4>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-8">
            <label asp-for="@Model.AddRemoveAdminInputModel.Username"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <select class="form-control" asp-for="@Model.AddRemoveAdminInputModel.Username">
                <option value="">Choose user...</option>
                @foreach (var username in this.Model.DashboardViewModel.AllNotAdminsNames)
                {
                    <option value="@username">@username</option>
                }
            </select>
        </div>
        <div class="col-4">
            <button asp-area="Administration" asp-controller="Dashboard" asp-action="AddAdministrator" class="btn btn-success">
                Add
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <span asp-validation-for="@Model.AddRemoveAdminInputModel.Username" class="text-danger"></span>
        </div>
    </div>
</form>
<hr />
<h4>Remove administrator</h4>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-8">
            <label asp-for="@Model.AddRemoveAdminInputModel.Username"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <select class="form-control" asp-for="@Model.AddRemoveAdminInputModel.Username">
                <option value="" selected disabled>Choose user...</option>
                @foreach (var username in this.Model.DashboardViewModel.AllAdminsNames)
                {
                    <option value="@username">@username</option>
                }
            </select>
        </div>
        <div class="col-4">
            <button asp-area="Administration" asp-controller="Dashboard" asp-action="RemoveAdministrator" class="btn btn-danger">
                Remove
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <span asp-validation-for="@Model.AddRemoveAdminInputModel.Username" class="text-danger"></span>
        </div>
    </div>
</form>
<hr />
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        All registered users
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Company</th>
                        <th>Address</th>
                        <th>Registered On</th>
                        <th>Confirmed Email</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>UserName</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Company</th>
                        <th>Address</th>
                        <th>Registered On</th>
                        <th>Confirmed Email</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var user in this.Model.DashboardViewModel.AllUsers)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.CompanyName, @user.PositionInCompany</td>
                            <td>@user.Address, @user.Country, @user.City, @user.PostCode</td>
                            <td>@user.RegisteredOn.ToLocalTime().ToString("dd-MMMM-yyyy hh:mm:ss tt")</td>
                            <td>@(user.EmailConfirmed == true ? "YES" : "NO")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}