@{
    ViewData["Title"] = "Career";
}

@model CareerViewModel

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Career</h1>
                <span>We are over 20 years of experience</span>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    @foreach (var position in this.Model.JobPositionViewModels)
    {
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <i class="fas fa-check" style="color: green"></i> @position.Title
                </h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <i class="fas fa-calendar-alt" style="color: green"></i> Created On: @position.CreatedOn.ToLocalTime().ToString("dd-MMMM-yyyy hh:mm:ss tt")
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <i class="fas fa-map-marker-alt" style="color: green"></i> Location: @position.Location
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(position.Description)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <form method="get">
                    <button class="btn btn-success" asp-area="" asp-controller="Career" asp-action="JobPosition" asp-route-id="@position.Id">
                        <i class="far fa-bookmark"></i> Read more
                    </button>
                </form>
            </div>
        </div>
        <hr />
    }
</div>
<br />